<div style="flex-grow: 1" class="bordered">  
  <input
  type="text"
  id="name"
  data-section="basic"
  data-key="name"
  value="{{ character.name }}"
  >
  <p class="under"> Name </p>
</div>
<div style="flex-grow: 1" class="bordered">  
  <input
  type="text"
  id="race"
  data-section="basic"
  data-key="race"
  value="{{ character.race }}"
  >
</div>
<div style="flex-grow: 1" class="bordered">  
  <input
  type="text"
  id="classname"
  data-section="basic"
  data-key="classname"
  value="{{ character.classname }}"
  >  
</div>
<div style="flex-grow: 1" class="bordered">  
<input
  type="number"
  id="level"
  data-section="basic"
  data-key="level"
  value="{{ character.level }}"
  >  
</div>
