<table id="stats">
  <thead>
    <tr>
      {% for stat in STATS %}
        <th>{{ stat }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>

    <tr>
      {% for stat in STATS %}
        <td>
          <p class="over">Base {{stat}}</p>
          <input
            type="number" min="0"
            id="{{ stat }}-base"
            data-section="stats"
            data-key="{{ stat }}-base"
            value="{{ character['stats'][stat]['base'] }}"
          >
        </td>
      {% endfor %}
    </tr>

    <tr>
      {% for stat in STATS %}
        {% set base = character['stats'][stat]['base']|int %}
        {% set raw = ((base - 10) // 2) %}
        <td>
        <p class="over">Modifiers</p>
        <p 
          id="{{ stat }}-mod"
          data-section="stats"
          data-key="{{ stat }}-mod"
          type="number"
        >
          {{ '+' ~ raw if raw > 0 else raw }}
        </p>
        </td>
      {% endfor %}
    </tr>

    {% set lvl = character['basic']['level']|int %}
    <tr>
      {% for stat in STATS %}
        {% set base = character['stats'][stat]['base']|int %}
        {% set raw = ((base - 10) // 2) %}
        {% set tot = raw + lvl %}
        <td>
          <p 
          class="final"
          id="{{ stat }}-level"
          data-section="stats"
          data-key="{{ stat }}-level"
          type="number"
          >
            {{ '+' ~ tot if tot > 0 else tot }}
          </p>
          <button class="rightHover" onclick="openRollDialog({{ tot }}, '{{stat}}')">
            <i class="fa fa-dice-d20"></i>
          </button>
        </td>
      {% endfor %}
    </tr>
  </tbody>
</table>

<script>

  // Recalculate modifiers & levels
  function updateStats() {
    var lvl = parseInt(levelInput.value, 10) || 0;
    baseInputs.forEach(function (input) {
      var stat    = input.getAttribute('data-key').split("-")[0];
      var baseVal = parseInt(input.value, 10) || 0;
      var raw     = Math.floor((baseVal - 10) / 2);
      var total   = raw + lvl;

      document.getElementById(stat + '-mod').textContent   = raw  >= 0 ? '+' + raw  : raw;
      document.getElementById(stat + '-level').textContent = total >= 0 ? '+' + total : total;
    });
  }
</script>
