<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header>
      <h1><a href="{{ url_for('hello') }}" style="color:inherit; text-decoration:none;">13A Sheets</a></h1>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <small>&copy; {{ 2025 }}</small>
    </footer>
  </body>
</html>
